<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .message {
            margin-top: 15px;
            padding: 10px;
            background-color: #f8d7da; /* Red color for danger */
            color: #721c24; /* Dark red color for text */
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Forgot Password</h3>
        <form th:action="@{/auth/forgotpassword}" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
        <!-- Message indicating to check email for further instructions -->
        <div class="message text-center">
            <small>Check your email for further instructions.</small>
        </div>
    </div>
</div>
</body>
</html>
